.wy-nav-side{display:none}
.wy-nav-content-wrap{margin-left:0}

body {
    background-color: #000 !important;
    color: #fff;
}

dt.sig span {
    color: #fff !important;
}

code.xref {
    color: #bfbfbf !important;
}

* {
    background-color: transparent !important;
}
