[Unit]
Description=DuckDNS push
JobTimeoutSec=1
JobRunningTimeoutSec=10
AssertVirtualization=0
AssertHost=daniel-desktop3
AssertACPower=1
#AssertPathIsReadWrite=!/root
AssertPathIsEncrypted=/root

[Service]
WorkingDirectory=/
ProtectProc=ptraceable
ProcSubset=pid
User=duckdns
Group=duckdns
DynamicUser=1
CapabilityBoundingSet=
NoNewPrivileges=1
SecureBits=keep-caps-locked no-setuid-fixup no-setuid-fixup-locked noroot noroot-locked
LimitCPU=10
LimitFSIZE=0
LimitSTACK=4096
LimitCORE=0
LimitNOFILE=10
LimitNPROC=5
LimitMEMLOCK=0
LimitLOCKS=0
LimitSIGPENDING=5
LimitMSGQUEUE=0
LimitNICE=0
LimitRTPRIO=0
LimitRTTIME=0
UMask=0777
KeyringMode=private
OOMScoreAdjust=1000
Personality=x86-64
IgnoreSIGPIPE=0
Nice=19
CPUAffinity=0
IOSchedulingPriority=7
ProtectSystem=strict
ProtectHome=1
PrivateDevices=1
PrivateNetwork=0
PrivateIPC=1
PrivateUsers=1
ProtectHostname=1
ProtectClock=1
ProtectKernelTunables=1
ProtectKernelModules=1
ProtectKernelLogs=1
ProtectControlGroups=1
RestrictAddressFamilies=AF_UNIX AF_INET
RestrictFileSystems=@common-block
RestrictNamespaces=1
LockPersonality=1
MemoryDenyWriteExecute=1
RestrictRealtime=1
RestrictSUIDSGID=1
RemoveIPC=1
PrivateMounts=1
SystemCallFilter=@basic-io @file-system @network-io @signal
SystemCallArchitectures=x86-64
SyslogLevelPrefix=0
LoadCredentialEncrypted=duckdns

KillMode=control-group
KillSignal=SIGKILL
WatchdogSignal=SIGKILL

[Service]
Type=oneshot
ExecStart=/bin/bash /etc/push_duckdns.sh
TimeoutStartSec=10
TimeoutStartFailureMode=kill
OOMPolicy=kill
