[Unit]
Description=Warm up kwallet using kwallet-query
After=plasma-xdg-desktop-portal-kde.service

[Service]
ExecStart=/usr/bin/kwallet-query -l kdewallet
SuccessExitStatus=4
Type=oneshot

[Install]
WantedBy=plasma-plasmashell.service
